<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.com.dao.TblAdministratorMapper">
  <resultMap id="BaseResultMap" type="org.com.entity.TblAdministrator">
    <id column="adm_id" jdbcType="INTEGER" property="admId" />
    <result column="adm_user" jdbcType="VARCHAR" property="admUser" />
    <result column="adm_pass" jdbcType="VARCHAR" property="admPass" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    adm_id, adm_user, adm_pass
  </sql>
  <select id="selectByExample" parameterType="org.com.entity.TblAdministratorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_administrator
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_administrator
    where adm_id = #{admId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_administrator
    where adm_id = #{admId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.com.entity.TblAdministratorExample">
    delete from tbl_administrator
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.com.entity.TblAdministrator">
    insert into tbl_administrator (adm_id, adm_user, adm_pass
      )
    values (#{admId,jdbcType=INTEGER}, #{admUser,jdbcType=VARCHAR}, #{admPass,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.com.entity.TblAdministrator">
    insert into tbl_administrator
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="admId != null">
        adm_id,
      </if>
      <if test="admUser != null">
        adm_user,
      </if>
      <if test="admPass != null">
        adm_pass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="admId != null">
        #{admId,jdbcType=INTEGER},
      </if>
      <if test="admUser != null">
        #{admUser,jdbcType=VARCHAR},
      </if>
      <if test="admPass != null">
        #{admPass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.com.entity.TblAdministratorExample" resultType="java.lang.Long">
    select count(*) from tbl_administrator
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_administrator
    <set>
      <if test="record.admId != null">
        adm_id = #{record.admId,jdbcType=INTEGER},
      </if>
      <if test="record.admUser != null">
        adm_user = #{record.admUser,jdbcType=VARCHAR},
      </if>
      <if test="record.admPass != null">
        adm_pass = #{record.admPass,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_administrator
    set adm_id = #{record.admId,jdbcType=INTEGER},
      adm_user = #{record.admUser,jdbcType=VARCHAR},
      adm_pass = #{record.admPass,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.com.entity.TblAdministrator">
    update tbl_administrator
    <set>
      <if test="admUser != null">
        adm_user = #{admUser,jdbcType=VARCHAR},
      </if>
      <if test="admPass != null">
        adm_pass = #{admPass,jdbcType=VARCHAR},
      </if>
    </set>
    where adm_id = #{admId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.com.entity.TblAdministrator">
    update tbl_administrator
    set adm_user = #{admUser,jdbcType=VARCHAR},
      adm_pass = #{admPass,jdbcType=VARCHAR}
    where adm_id = #{admId,jdbcType=INTEGER}
  </update>
</mapper>