<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.com.dao.TblFacultyMapper">
  <resultMap id="BaseResultMap" type="org.com.entity.TblFaculty">
    <id column="fac_id" jdbcType="INTEGER" property="facId" />
    <result column="fac_name" jdbcType="VARCHAR" property="facName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    fac_id, fac_name
  </sql>
  <select id="selectByExample" parameterType="org.com.entity.TblFacultyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_faculty
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_faculty
    where fac_id = #{facId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_faculty
    where fac_id = #{facId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.com.entity.TblFacultyExample">
    delete from tbl_faculty
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.com.entity.TblFaculty">
    insert into tbl_faculty (fac_id, fac_name)
    values (#{facId,jdbcType=INTEGER}, #{facName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.com.entity.TblFaculty">
    insert into tbl_faculty
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="facId != null">
        fac_id,
      </if>
      <if test="facName != null">
        fac_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="facId != null">
        #{facId,jdbcType=INTEGER},
      </if>
      <if test="facName != null">
        #{facName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.com.entity.TblFacultyExample" resultType="java.lang.Long">
    select count(*) from tbl_faculty
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_faculty
    <set>
      <if test="record.facId != null">
        fac_id = #{record.facId,jdbcType=INTEGER},
      </if>
      <if test="record.facName != null">
        fac_name = #{record.facName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_faculty
    set fac_id = #{record.facId,jdbcType=INTEGER},
      fac_name = #{record.facName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.com.entity.TblFaculty">
    update tbl_faculty
    <set>
      <if test="facName != null">
        fac_name = #{facName,jdbcType=VARCHAR},
      </if>
    </set>
    where fac_id = #{facId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.com.entity.TblFaculty">
    update tbl_faculty
    set fac_name = #{facName,jdbcType=VARCHAR}
    where fac_id = #{facId,jdbcType=INTEGER}
  </update>
</mapper>