			#all{
				width: 80%;
				border: solid red 1px;
				margin:auto;
				position:relative; 
			}
			#top1{
				border: solid red 1px;
			}
			#top2{
				border: solid red 1px;
			}
			.daohang{
			margin-right:40px;
				float: right;
			}
			#main{
				clear:right;
				border: solid red 1px;
			}

			.b_1{
				float: left;
				border: solid red 1px;
				margin-left:30px;
				width: 200px;
				height: 700px;

			}
			.b_2{
				float: right;
				border: solid red 1px;
				margin-right:40px;
				width: 200px;
				height: 700px;
			}
			#foot{
				clear: right;
				text-align: center;
				border: solid red 1px;
			}
			a{
                color: white;
                text-decoration: none;
			}

